@import url("./separate css/main.css");
@import url("./separate css/header.css");
@import url("./separate css/footer.css");
@import url("./separate css/animations.css");
@import url("./separate css/responsive.css");

.sect--1 {
  background-image: url("./imgs/ws5FS0.webp");
  background-size: cover;
  justify-content: space-between;
}

.sect--1 > article h1 {
  font-size: 3.5em;
  font-weight: 900;
  margin: 0;
  max-width: 750px;
}

#downArrow {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto;
  padding-bottom: 40px;
  animation: animateArrow infinite 1.5s;
}

.sect--2 {
  align-items: baseline;
  padding-top: 4em;
}

.sect--2 > article > h1 {
  font-size: 3em;
  font-weight: 900;
  margin: 0;
}

.grid-reasons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
  gap: 30px;
  padding-top: 50px;
}

.grid-reasons div,
.div--Info {
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 0 0 20px 10px #0f0f0f;
  transition: all 0.1s linear;
}

.grid-reasons div:hover,
.div--Info:hover {
  background-color: #252525;
}

.sect--2::before {
  content: "";
  position: absolute;

  width: 300px;
  height: 300px;

  background-color: rgb(153, 12, 12);
  border-radius: 100%;
  filter: blur(50px);
  opacity: 0.1;
}

.sect--2::after {
  content: "";
  position: absolute;
  right: 0;

  width: 300px;
  height: 300px;
  background-color: rgb(12, 57, 153);
  border-radius: 100%;
  filter: blur(50px);
  opacity: 0.1;
  z-index: -2;
}

#statue {
  position: absolute;
  right: 0;

  padding-bottom: 45px;
  z-index: -1;
  opacity: 0.2;
  height: 100%;
}

.sect--3 {
  padding-top: 30px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: baseline;

  background-color: #4444;
  color: white;
  height: fit-content;
}

.sect--3 svg {
  position: absolute;
  left: 0;
  right: 0;
}

.sect--3 > h1 {
  margin: 10px;
  font-family: "Poppins";
  font-size: 3em;
  font-weight: 900;
}

#h1--bot {
  color: darkgray;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;

  width: 100%;
  background-color: #2222;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}

.projects-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #111111;
  min-width: 300px;
  min-height: 300px;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.1s linear;
}

.projects-container > div h2 {
  margin: 12px;
}

.projects-container > div p {
  max-width: 250px;
  text-align: center;
  margin: 0;
}

.projects-container > div img {
  max-width: 120px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.projects-container > div:hover {
  background-color: #0c0c0c;
}

.sect--4 {
  flex-direction: column;

  height: 100%;
  padding-bottom: 30px;
}

.sect--4 > h1 {
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.sect--4 h3 {
  margin: 0;
}

.moreInfo-div {
  text-align: center;
  padding: 20px;
  background-color: #0a0a0a;
  width: fit-content;
  border-radius: 20px;
}

.moreInfo-div > h2 {
  margin-top: 0;
}

.infoWays {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  padding: 20px;
  border-radius: 10px;
  background-color: #070707;
}

.devs-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

  text-align: center;
  background-color: #070707;
  border-radius: 10px;
  padding: 20px;
}

.profile {
  background-color: #131313;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
  transition: all 0.1s linear;
}

.profile > img {
  max-width: 150px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.profile:hover {
  background-color: #111111;
}

.mask {
  content: "";
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  backdrop-filter: blur(10px);
}

.discord--details {
  display: none;

  position: absolute;
  background-color: #111111;
  padding: 40px;
  font-size: 40px;
  z-index: 1;
  border-radius: 20px;
}

.discord--details h1 {
  overflow: hidden;
  overflow-wrap: break-word;

  text-align: center;
  margin: auto;
}
